<!DOCTYPE html>
<html>
  <head>
    {#- http://jinja.pocoo.org/docs/dev/templates/ -#}
    <meta charset="utf-8">
    <title>Simple Language Benchmarks</title>

    {{ common_header | indent(4) }}

  </head>


  <body>

    {{ navbar | indent(4) }}

    <div class="container">

      <div class="jumbotron">
        <h2>Simple Language Benchmarks</h2>
        <div class="lead">
          {{ intro }}
        </div>
      </div>

      <div>
        {{ disclaimer }}
      </div>

      <div class="page-header">
        <h3>Benchmarks</h3>
      </div>

      <ol>
        {% for name, url in sub_pages %}
        <li><a href="{{ url }}">{{ name }}</a></li>
        {% endfor %}
      </ol>

      <div class="page-header">
        <h3>Philosophy</h3>
      </div>
      {{ philosophy }}

      <div class="page-header">
        <h3>About the Framework</h3>
      </div>
      {{ framework }}

      <div class="page-header">
        <h3>How to Reproduce</h3>
      </div>
      {{ run_benchmarks }}

      <div class="page-header">
        <h3>Contribute</h3>
      </div>
      {{ contribute }}

      <div class="page-header">
        <h3>License</h3>
      </div>
      {{ license }}

      <div class="page-header">
        <h3 id="specs">System Specs</h3>
      </div>

      <p>
        All benchmarks were performed on a PC with the following specs:
      </p>

      <table class="table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for k, v in sys_specs %}
          <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>
        Summary of compiler/language versions used:
      </p>

      <table class="table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for k, v in soft_specs %}
          <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <script src="../js/plotting.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>