<!DOCTYPE html>
<html>
  <head>
    {#- http://jinja.pocoo.org/docs/dev/templates/ -#}
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Test</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.0/d3.min.js"></script>
    {%- if useLiveJS | default(false) -%}
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    {%- endif -%}

    <style>
      svg {
        border: 1px solid #000;
      }

      .langlabels {
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
      }

      circle {
        stroke: #124563;
        fill: #12456355;
      }

      .tickasdf {
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
      }
    </style>
  </head>

  <body>
    <script type="text/javascript">

      function visualizeCsv(csvFile, selector) {
        console.log("Hello world");

        var markersize = 4;
        var rowHeight = 20;
        var colLang = "lang";

        var margins = { l: 150, r: 30, t: 30, b: 60 };

        function render(data) {

          var numRows = data.length;
          console.log(data);
          console.log(numRows);

          var height = (data.length * rowHeight) + margins.t + margins.b;
          var canvasSizeOuter = { w: 800, h: height };
          var canvasSizeInner = {
            w: canvasSizeOuter.w - margins.l - margins.r,
            h: canvasSizeOuter.h - margins.t - margins.b
          };

          // determine min/max
          var min = +Number.MAX_VALUE;
          var max = -Number.MAX_VALUE;
          for (i = 0; i < numRows; i++) {
            var row = data[i];
            for (j = 0; j < 9; j++) {
              var colname = "run_" + (j+1);
              console.log(colname);
              if (row[colname] < min) {
                min = row[colname];
              }
              if (row[colname] > max) {
                max = row[colname];
              }
            }
          }

          var xScale = d3
            .scaleLinear()
            .range([0, canvasSizeInner.w])
            .domain([min, max]);
          var yScale = d3
            .scaleLinear()
            .range([0, canvasSizeInner.h])
            .domain([0, numRows-1]);

          var svg = d3
            .select(selector)
            .append("svg")
            .attr("width", canvasSizeOuter.w)
            .attr("height", canvasSizeOuter.h);

          var g = svg.append("g")
            .attr("transform", "translate(" + margins.l + ", " + margins.r + ")");

          // axis
          var xAxis = d3.axisBottom()
            .scale(xScale);

          g.append("g")
           .attr("transform", "translate(0," + (canvasSizeInner.h + rowHeight) + ")")
           .call(xAxis);

          // add langugage labels
          var labels = g.selectAll(".labels")
            .data(data)
            .enter()
            .append("text")
            .attr("x", -margins.l)
            .attr("y", function (d, i) { return yScale(i); })
            .attr("class", "langlabels")
            .text(function (d) { return d[colLang]; });

          // plot run columns
          for (i = 0; i < 9; i++) {
            var colname = "run_" + (i+1);
            g.selectAll("circlerun" + i)
             .data(data)
             .enter()
             .append("circle")
             .attr("cx", function (d, i) { return xScale(d[colname]); })
             .attr("cy", function (d, i) { return yScale(i); })
             .attr("r", markersize)
             .attr("class", "circlerun circlerun" + i);
          }
        }

        // https://github.com/d3/d3-request/blob/master/README.md#csv
        // https://github.com/d3/d3-dsv#dsv_parse
        d3.request(csvFile)
          .mimeType("text/csv")
          .response(function(xhr) { return d3.dsvFormat(";").parse(xhr.responseText); })
          .get(render);
      }

      {% for plot_call in plot_calls -%}
      {{ plot_call }}
      {% endfor %}

    </script>

    <h1>Benchmark Results</h1>

    {% for div in divs -%}
    {{ div }}
    {% endfor %}

  </body>
</html>